/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
	combos {
		compatible = "zmk,combos";
		combo_q {
			timeout-ms = <50>;
			key-positions = <0 1>;
			bindings = <&kp Q>;
        };
	};
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
    &none &kp TAB         &kp W         &kp E     &kp R         &kp T            &kp Y  &kp U        &kp I         &kp O         &hm RALT P        &none
    &none &kp A           &kp S         &kp D     &kp F         &kp G            &kp H  &kp J        &kp K         &kp L         &kp SEMI          &none
    &none &hm LSHIFT Z    &lt NAV X     &kp C     &kp V         &kp B            &kp GRAVE  &kp SQT
                                                  &kp EQUAL     &hm RALT MINUS   &kp N  &kp M        &kp COMMA     &kp DOT       &hm RSHIFT FSLH   &none
	                      &kp C_PP   &kp LSHIFT &hm LWIN SPACE  &kp BSPC  &kp ESC                &lt NAV RET &mo NUM_SYM &kp RCTRL &kp RSHIFT &kp C_MUTE
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		num_sym {
			bindings = <
    &none &kp EXCL      &kp AT        &kp HASH        &kp DOLLAR    &kp PRCNT        &kp CARET  &kp AMPS     &kp ASTRK     &trans          &trans     &none
    &none &kp Q         &kp LBRC      &kp LBKT        &kp LPAR      &trans           &kp MINUS  &kp RPAR     &kp RBKT      &kp RBRC        &trans     &none
    &none &kp N5        &kp N4        &kp N3          &kp N2        &kp N1           &kp BSPC   &mo NAV
                                                      &mo NUM_SYM   &kp SQT          &kp N6     &kp N7       &kp N8        &kp N9          &kp N0     &none
	                      &kp C_PP   &kp LSHIFT &hm LWIN  SPACE &kp BSPC  &kp ESC                &lt NAV RET &mo NUM_SYM &kp RCTRL &kp RSHIFT &kp C_MUTE
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
		};

		nav {
			bindings = <
    &none &kp Q           &trans          &kp N7          &kp N8        &kp N9           &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR     &none
    &none &rgb_ug RGB_HUI &rgb_ug RGB_HUD &kp N4          &kp N5        &kp N6           &kp LEFT     &kp DOWN     &kp UP        &kp RIGHT       &trans     &none
    &none &kp N0          &kp N0          &kp N1          &kp N2        &kp N3           &kp DOT      &kp RET
                                                      &out OUT_USB  &out OUT_BLE      &rgb_ug RGB_EFF &kp N7       &kp N8        &bootloader     &reset     &none
	                      &kp C_PP   &kp LSHIFT &hm LWIN  SPACE &kp BSPC  &kp ESC                &lt NAV RET &mo NUM_SYM &kp RCTRL &kp RSHIFT &rgb_ug RGB_TOG
			>;

			sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
